EQ4B3D_0928/DR_udvar.dtd

<!ELEMENT udvar (gazda,kutya,kakas,tyuk+,diszno)>
<!ELEMENT gazda EMPTY>
<!ATTLIST gazda nev NMTOKEN #REQUIRED>
<!ELEMENT kutya EMPTY>
<!ATTLIST kutya nev NMTOKEN #REQUIRED>
<!ELEMENT kakas EMPTY>
<!ATTLIST kakas id NMTOKEN #REQUIRED>
<!ELEMENT tyuk EMPTY>
<!ATTLIST tyuk ferj NMTOKEN #REQUIRED>
<!ELEMENT diszno EMPTY>
<!ATTLIST diszno nev NMTOKEN #REQUIRED>